@import "./settings.scss";
@import "./View.module.scss";

.Widget__SignInButton {
  @extend .Widget__Endorser;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  display: inline;
  text-align: start;

  &:hover {
    cursor: pointer;
  }
}
